{% extends 'base.html' %}

{% block title %}
О бренде - DIAMOND
{% endblock %}

{% block body %}

<section class="about-section">
    <h2 style="text-align: center">О нас</h2>
    <p style="text-align: justify">Добро пожаловать в мир уникальных украшений от DIAMOND! Мы стремимся предоставить вам лучшие изделия, созданные с любовью и вниманием к деталям.</p>

    <div class="additional-content">
        <h3 style="text-align: center">Наша миссия</h3>
        <p style="text-align: justify">Мы стремимся к тому, чтобы каждое изделие, которое мы создаем, было не только красивым, но и отражало вашу уникальность и индивидуальность.</p>

        <h3 style="text-align: center">Качество на первом месте</h3>
        <p style="text-align: justify">Наша команда мастеров использует только лучшие материалы для создания украшений высшего качества. Мы гордимся своей мастерской работой и вниманием к каждой детали.</p>

        <h3 style="text-align: center">История бренда DIAMOND</h3>
        <p style="text-align: justify">Наш бренд был основан в далеком 1990 году двумя страстными ювелирами, которые разделяли восторг красотой драгоценных камней и мастерством ювелирного искусства.</p>

        <h3 style="text-align: center">Награды и достижения</h3>
        <p style="text-align: justify">DIAMOND неоднократно получал награды за лучший дизайн украшений и вклад в развитие ювелирной индустрии. Наша работа признана экспертами в области стиля и моды.</p>

        <h3 style="text-align: center">Наша команда</h3>
        <p style="text-align: justify">DIAMOND гордится своей талантливой командой профессиональных ювелиров, дизайнеров и экспертов по оценке драгоценных камней. Каждый член нашей команды делает все возможное для того, чтобы ваши украшения были по-настоящему уникальными.</p>

        <h3 style="text-align: center">Социальная ответственность</h3>
        <p style="text-align: justify">Мы также стремимся к тому, чтобы наш бизнес был социально ответственным. DIAMOND активно поддерживает благотворительные организации и устойчивые практики в ювелирной индустрии.</p>
    </div>

</section>

{% endblock %}
