{% extends 'base.html' %}

{% block title %}
Каталог
{% endblock %}

{% block body %}
    <div class="obertka">
        <div class="another2">
            <h1>Каталог</h1>
            <div class="search-container">
            <form action="{{ url_for('catalog2') }}" method="get">
                <input type="text" name="search" placeholder="Поиск...">
                <button type="submit">Искать</button>
            </form>
            </div>
        </div>
        <div class="silver">
            <div class="description"><h2 style="text-align: center">{{ description }}</h2></div>

            {% for product in products %}
                <a href="{{ url_for('elem', name=product.category_for_site, id=product.id) }}" class="product-link">
                <div class="product">
                    <div  class="description-title">Наименование</div>
                    <p style="text-align: center">{{ product.name}}</p>
                    <img src="{{ url_for('static', filename='uploads/'+temp+product.image_url) }}" alt="{{ product.name }}">
                    <div class="cost">Цена</div>
                    <p style="text-align: center" class="price_2"> {{ product.cost }} </p>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
